# Not using the GitHub-provided template for gitignore for ROS projects,
# as their template seems a little outdated.
# Link to that template: https://github.com/github/gitignore/blob/main/ROS.gitignore

# Instead, just copying the gitignore from the professor's CPMR3 repo
# Link to his gitignore: https://github.com/YorkCFR/CPMR3/blob/main/.gitignore
build/
install/
log/
logs/

# Also ignoring CPMR folders, so that we can leave them in this folder
# when working locally, but not save them to GitHub
cpmr_*/
